<app-sidebar2></app-sidebar2>
<div id="home">

    <div class="row">



        <div class="card card-1"> <a [routerLink]="['/etablissements']" routerLinkActive="active"><i class="fa fa-university"></i></a></div>
        <div class="card card-2"><a [routerLink]="['/matieres']" routerLinkActive="active"><i class="fa fa-book"></i></a></div>
        <div class="card card-3"> <a [routerLink]="['/salles']" routerLinkActive="active"><i class="fa fa-graduation-cap"></i></a></div>

        <div class="card card-4"> <a [routerLink]="['/classes']" routerLinkActive="active"><i class="fa fa-users"></i></a></div>
        <div class="card card-5"> <a [routerLink]="['/planning']" routerLinkActive="active"><i class="fa fa-calendar"></i></a></div>
        <div class="card card-6"> <a [routerLink]="['/planning']" routerLinkActive="active"><i class="fa fa-download"></i></a></div>
        <div class="card card-6"> <a [routerLink]="['/planning']" routerLinkActive="active"><i class="fa fa-external-link"></i></a></div>
    </div>

</div>
