<app-sidebar></app-sidebar>
<div id="home">

    <div class="row">

        <div class="col-md-6 mx-auto">
            <h1>Les professeurs</h1>

            <ng-container *ngIf="!edit; else formEdit">
                <td>{{ professeur.id }}</td>
                <td>{{ professeur.nom }}</td>
                <td>{{ professeur.prenom }}</td>
                <td>{{ professeur.datenaissance }}</td>
                <td>{{ professeur.adresse.numero}}&nbsp;{{ professeur.adresse.voie}}&nbsp;{{professeur.adresse.cp}}&nbsp;{{ professeur.adresse.ville}}</td>
                <td>{{ professeur.compte.etablissement }}</td>
                <td>{{ professeur.matiere }}</td>
                <td>
                    <button (click)="changeMode()" class="btn btn-outline-primary">
        editer
      </button>
                </td>
                <td>
                    <button class="btn btn-outline-danger" (click)="delete()">supprimer</button>
                </td>
            </ng-container>

            <ng-template #formEdit><br>

                <td>id:<input [ngModel]="professeur.id" readonly /></td><br>
                <td>Nom Professeur : <input [(ngModel)]="professeur.nom" /></td><br>
                <td>Prenom Professeur : <input [(ngModel)]="professeur.prenom" /></td><br>
                <td>Date de naissance : <input [(ngModel)]="professeur.datenaissance" /></td><br>
                <!-- Adresse -->
                <td>numero:<input [(ngModel)]="professeur.adresse.numero" /></td>
                <td>voie:<input [(ngModel)]="professeur.adresse.voie" /></td><br>
                <td>Code Postale:<input [(ngModel)]="professeur.adresse.cp" /></td>
                <td>ville<input [(ngModel)]="professeur.adresse.ville" /></td><br>
                <!-- etablissement-->
                <td>Etablissement:
                    <select>
        <select *ngFor="let e of etablissement">
          <input ngModel="professeur.compte.etablissement" />
          <option value="Choose">Choose</option>
          <option value="COLLEGE">Collège</option>
          <option value="LYCEE">Lycée</option>
        </select>
                    </select>
                </td> <br>
                <td>matiere:
                    <select>
          <option *ngFor="let m of matiere">
            <input [(ngModel)]="professeur.matiere" />
          </option>
        </select>
                </td><br> login
                <td> login:<input [(ngModel)]="professeur.compte.login" /></td><br>
                <td>password:<input [(ngModel)]="professeur.compte.password" /></td><br>


                <button (click)="save()" class="btn btn-outline-success">
        enregistrer
      </button>

                <td>
                    <button (click)="cancel()" class="btn btn-outline-warning">annuler</button>
                </td>
            </ng-template>

        </div>
    </div>
</div>
