<div id="bg">
    <div class="row" id="log">

        <div class="col-md-6 mx-auto">
            <div class="card rounded-0" id="card-log">

                <div class="card-body">
                    <h1>Change Password</h1>
                    <form #f="ngForm" (ngSubmit)="changePassword(f)">
                        <label class="labelle" for="changePassword">Entrer nouveau mot pass</label>
                        <div class="form-group">
                            <label class="labelle" for="pwd">Nouveau mot pass: </label>
                            <input type="password" name="password" [(ngModel)]="model.password" required #email="ngModel" class="form-control" id="changePassword" placeholder="Entrer votre nouveau password" />
                            <label id="conf" class="labelle" for="pwd">Confimer nouveau mot pass:</label>
                            <input type="password" id="pwd" name="password2" [(ngModel)]="model.password" required #email="ngModel" class="form-control" id="changePassword2" placeholder="confirmer votre nouveau password" />
                        </div>

                        <button id="btn" type="submit" [disabled]="f.invalid" class="btn btn-primary">
        Changer mot pass <i class="fa fa-save"></i>
      </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
