<app-sidebar></app-sidebar>
<div id="home">

    <div class="row">

        <div class="col-md-6 mx-auto">
            <h1> les utilisateurs</h1>

            <ng-container *ngIf="!edit; else formEdit">
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.login }}</td>
                <td>{{ utilisateur.mail }}</td>
                <td>{{ utilisateur.tel }}</td>
                <td>
                    <button (click)="changeMode()" class="btn btn-outline-primary">
      editer
    </button>
                </td>
                <td>
                    <button class="btn btn-outline-danger" (click)="delete()">supprimer</button>
                </td>
            </ng-container>

            <ng-template #formEdit><br>

                <td>{{ utilisateur.id }}</td>
                <td>Login de l'utilisateur : <input [(ngModel)]="utilisateur.login" /></td><br>
                <td>Mail de l'utilisateur : <input [(ngModel)]="utilisateur.mail" /></td><br>
                <td>Telephone de l'utilisateur : <input [(ngModel)]="utilisateur.tel" /></td><br>
                <td>Password : <input [(ngModel)]="utilisateur.password" /></td>
                <td>
                    <button (click)="save()" class="btn btn-outline-success">
      enregistrer
    </button>
                </td>
                <td>
                    <button (click)="cancel()" class="btn btn-outline-warning">annuler</button>
                </td>
            </ng-template>
        </div>
    </div>
</div>
